{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Визитка Овсянникова Алексея
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'static/plugins/bootstrap/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'static/plugins/bootstrap/css/bootstrap-theme.css' %}"/>
        {% block additionalIncludesInHeader %}
        {% endblock %}
        <meta charset="utf-8"/>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    {% block headerContent %}
                    {% endblock %}
                    {% block additionalHeaderContent %}
                    {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}
    <script src="{% static 'static/plugins/bootstrap/js/bootstrap.js' %}" type="application/javascript"/>
    </body>
</html>