{% extends 'general_template.html' %}
{% load staticfiles %}
{% block headerContent %}
<a href="../about_me" class="__title-font header__item">О себе</a>
<a href="../group" class="__title-font header__item">О группе</a>
<a href="../university" class="__title-font header__item">Об университете</a>
{% endblock %}