{% extends 'general_template.html' %}
{% load staticfiles %}
{% block title %}
Псевдо-болг -.-
{% endblock %}
{% block headerContent %}
    <li><a href="/pseudo_blog/users" class="header__item">Лента</a></li>
{% endblock %}
{% block additionalHeaderContent %}
    {% if user.is_authenticated %}
        <li><a href="/pseudo_blog/logout">Выход</a></li>
        <li><a href="/pseudo_blog/user?id={{user.id}}">{{user.username}}</a></li>
        <li><a href="/pseudo_blog/redact_info">Редактировать свой профиль</a></li>
    {% else %}
        <li><a href="/pseudo_blog/sign_in-up" class="header__item">Вход/Регистрация</a></li>
    {% endif %}
{% endblock %}