{% if request.user.id == id %}
<div class="well well-lg input-group input-group-lg center-block">
    <form action="create_note" class="list list__items_center" method="post">
        {% csrf_token %}
        <input type="text" name="title" required="required" maxlength="26" class="form-control" placeholder="Название новой записи">
        <input type="text" name="content" rows="7" maxlength="255" required="required" class="form-control" placeholder="Текст записи">
        <input type="submit" class="btn btn-default" value="Сохранить">
    </form>
</div>
{% endif %}