{% load staticfiles %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ note.title }}
        (<a href="/pseudo_blog/user?id={{ note.owner.id }}" >{{ note.owner.username }}</a>)
    </div>
    <div class="panel-footer">
        <div style="word-wrap: break-word">
            {{ note.text }}
        </div>
        {% for photo in note.photos %}
            <img src="{% static '{{ photo }}' %}" />
        {% endfor %}
        {% if request.user.id == note.owner.id %}
            <a href="/pseudo_blog/remove_note?post_id={{ note.id }}" >Удалить</a>
            <a href="/pseudo_blog/redact_note?post_id={{ note.id }}">Редактировать</a>
        {% endif %}
    </div>
</div>