{% extends 'pseudo_blog_template.html' %}
{% load staticfiles %}
{% block content %}
{% if targetNote %}
    <div class="well well-lg input-group input-group-lg center-block">
        <form action="do_redact_note" class="list list__items_center" method="post">
            {% csrf_token %}
            <input type="text" name="title" required="required" maxlength="26" class="form-control" style='margin: 10px;' placeholder="Название записи" value="{{ targetNote.title }}">
            <input type="text" name="content" rows="7" maxlength="255" required="required" class="form-control" style='margin: 10px;' placeholder="Текст записи" value="{{ targetNote.text }}">
            <input type="submit" class="btn btn-default" style='margin: 10px;' value="Сохранить">
            <input type="text" name="id" value="{{ targetNote.id }}" style="visibility: hidden">
        </form>
    </div>
{% endif %}
{% endblock %}