{% extends 'pseudo_blog_template.html' %}
{% load staticfiles %}
{% block content %}
    {% if response %}
        <span class="alert-danger">{{ response }}</span>
    {% endif %}
    <div class="well well-lg">
        {% include 'avatar.html' %}
        <form class="row text-center" method="post" enctype="multipart/form-data" action="edit_profile">
            {% csrf_token %}
            <div class="input-group input-group-lg">
                <input type="file" accept="image/jpeg,image/png" name="avatar">
                <input type="text" class="form-control" name="login" style='margin: 10px;' value="{{ redact_login }}" required="required" placeholder="Имя пользователя">
                <input type="email" class="form-control" name="email" style='margin: 10px;' value="{{ redact_email }}" placeholder="Введите e-mail">
                <input type="submit" class="btn btn-default" value="Проверка и сохранение">
            </div>
        </form>
    </div>
{% endblock %}