{% extends 'pseudo_blog_template.html' %}
{% load staticfiles %}
{% block additionalIncludesInHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/blog-static-elements.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/registration-elements.css' %}"/>
{% endblock %}
{% block additionalHeaderContent %}
{% endblock %}
{% block content %}
    {% if response %}
        <div class="list">{{response}}</div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <form class="list list__items_center" method="post" action="try_to_registrate">
                {% csrf_token %}
                <h3><span class="label label-info">Регистрация</span></h3>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="login" value="{{ login }}" required="required" placeholder="Имя пользователя">
                    <input type="password" class="form-control" name="password" required="required" placeholder="Пароль">
                    <input type="submit" class="btn btn-default" value="Проверка и сохранение">
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <form class="list list__items_center" method="post" action="authentification">
                {% csrf_token %}
                <h3><span class="label label-info">Авторизация</span></h3>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="login" required="required" placeholder="Имя пользователя">
                    <input type="password" class="form-control" name="password" required="required" placeholder="Пароль">
                    <input type="submit" class="btn btn-default" value="Авторизоваться">
                </div>
            </form>
        </div>
    </div>
{% endblock %}