{% extends 'pseudo_blog_template.html' %}
{% load staticfiles %}
{% block content %}
<ul class="well well-sm list-group">
{% for note in notes %}
    <li class="list-group-item">
        {% include 'blog_note.html' %}
    </li>
{% endfor %}
</ul>
{% endblock %}