{% extends 'pseudo_blog_template.html' %}
{% load staticfiles %}
{% block content %}
<div class="well well-sm media">
    <div class="pull-left">
        {% include 'avatar.html' %}
    </div>
    <div class="media-body">
        <h2 class="media-heading">{{ username }}</h2>
        <h3 class="media-heading">{{ email }}</h3>
    </div>
</div>
{% include 'add_note_form.html' %}

<ul class="well well-sm list-group">
{% for note in notes %}
    <li class="list-group-item">
        {% include 'blog_note.html' %}
    </li>
{% endfor %}
</ul>
{% endblock %}