.list__item-content_text_normal {
    margin: 5px;
    font-size: 1.9ex;
    font-weight: normal;
}

.list__item-content_text_title {
    font-size: 3ex;
}

.list__gallery-item {
    width: 180px;
    margin: 5px;
    padding: 5px;
}

.list__gallery-item-content_img {
    max-width: 100%;
}

.list__ul_item {
    list-style-position: inside;
    list-style-type: none;
}

@media (min-width: 1200px) {
    .list {
        width: 1100px;
        margin: 30px auto;
        padding: 30px;
    }
    .list__item {
        width: 1040px;
        margin: 5px auto;
        padding: 5px;
    }
    .list__item-content_img {
        max-width: 425px;
        max-height: 425px;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .list {
        width: 825px;
        margin: 25px auto;
        padding: 25px;
    }
    .list__item {
        width: 815px;
        margin: 5px auto;
        padding: 5px;
    }
    .list__item-content_img {
        max-width: 375px;
        max-height: 375px;
    }
}

@media (max-width: 900px) and (min-width: 775px) {
    .list {
        width: 700px;
        margin: 20px auto;
        padding: 20px;
    }
    .list__item {
        width: 690px;
        margin: 5px auto;
        padding: 5px;
    }
    .list__item-content_img {
        max-width: 325px;
        max-height: 325px;
    }
}

@media (max-width: 774px) and (min-width: 550px) {
    .list {
        width: 500px;
        margin: 10px auto;
        padding: 10px;
    }
    .list__item {
        width: 490px;
        margin: 5px auto;
        padding: 5px;
    }
    .list__item-content_img {
        max-width: 175px;
        max-height: 175px;
    }
}

@media (max-width: 550px) and (min-width: 350px) {
    .list {
        width: 300px;
        margin: 5px auto;
        padding: 5px;
    }
    .list__item {
        width: 295px;
        margin: 2px auto;
        padding: 2px;
    }
    .list__item-content_img {
        max-width: 125px;
        max-height: 125px;
    }
}

@media (max-width: 349px) and (min-width: 280px) {
    .list {
        width: 250px;
        margin: 5px auto;
        padding: 5px;
    }
    .list__item {
        width: 240px;
        margin: 2px auto;
        padding: 2px;
    }
    .list__item-content_img {
        max-width: 100px;
        max-height: 100px;
    }
}

@media (max-width: 279px) {
    .list {
        margin: 5px auto;
        padding: 5px;
    }
    .list__item {
        margin: 2px auto;
        padding: 2px;
    }
    .list__item-content_img {
        max-width: 100px;
        max-height: 100px;
    }
}

.list {
    background-color: rgba(93, 93, 93, 0.70);
    overflow: hidden;
}

.list__item {
    background-color: rgba(191, 191, 191, 0.70);
    overflow: hidden;
    font-family: cursive, fantasy, sans;
}

.list__gallery-item {
    background-color: rgba(191, 191, 191, 0.70);
    overflow: hidden;
    font-family: cursive, fantasy, sans;
    display: inline-block;
}

.list__item-content_img {
    padding: 5px;
    padding-right: 15px;
}

.list__item_left {
    float: left;
}

.list__item_right {
    float: right;
}

.list__items_center {
    text-align: center;
}

.list__item-content_text_hide {
    margin: 5px;
    font-size: 1.4ex;
    color: #cccccc;
}

.list__item-content_text_title {
    font-weight: bold;
}
