body{
	background-image: url(../img/background.jpg);
	background-repeat: repeat;
}

.header__item{
	text-shadow: black 0px 0px 20px;
	font-size: 2.5ex;
	color: white;
	text-align: center;
	text-decoration: none;
	outline: none;
}

@media (min-width: 600px){
	.header{
		display: inline-flex;
	}

	.header__item{
		padding: 10px;
		min-width: 150px;
	}
}
@media (max-width: 599px) and (min-width: 375px){

	.header{
		overflow: hidden;
	}
	.header__item{
		padding: 10px 0px;
		margin: auto;
		text-align: center;
		width: 50%;
		float: left;
	}
}
@media (max-width: 374px){

	.header{
		overflow: hidden;
	}
	.header__item{
		padding: 10px 0px;
		margin: auto;
		text-align: center;
		width: 100%;
		float: left;
	}
}

.header{
	color: black;
	margin-bottom: 15px;
	background-color: rgba(93, 93, 93, 0.70);
	width: 100%;
}

.header__item:hover, .header__item:active{
	background-color: rgba(128, 128, 128, 0.70);
	cursor: pointer;
}