.tabs_active-tab-title{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: rgba(191, 191, 191, 0.70);
}

.tabs_non-active-title{
	color: white;
}

.tabs_active-content{
	display: block;
}

.tabs_non-active-content{
	display: none;
}