{% extends 'morning_coat_template.html' %}
{% load staticfiles %}
{% block content %}
<div class="list">
    <div class="list__item">
        <img src="{% static 'img/main/me.jpg' %}" class="list__item-content_img list__item_left">
        <div class="list__item-content_text_title list__items_center">
            Овсянников Алексей Андреевич
        </div>
        <div class="list__item-content_text_normal">
            Я - студент 3 курса Факультета Компьютерных Наук Омского Государственного университета им. Достоевского. Далее вы сможете увидеть описание моих основных (но не всех :) ) увлечений.
        </div>

    </div>
    <div class="list__item">
        <div class="list__item-content_text_title list__items_center">
            Книги
        </div>
        <img src="{% static 'img/main/borderland.jpg' %}" class="list__item-content_img list__item_left">
        <div class="list__item-content_text_normal">
            На сегодняшний день на моём прочтении находится серия книг "Пограничье". Также, помимо этой серии, я читал его "Лабиринты отражений", "Тени снов", серию "Черновик" и "Чистовик" (они принадлежат одной серии)(откровенно говоря, Чистовик оказался слабее Черновика, ИМХО).
        </div>
        <img src="{% static 'img/main/stalker.jpg' %}" class="list__item-content_img list__item_right">
        <div class="list__item-content_text_normal">
            Также, одной из интересных для меня серий является огромная вселенная S.T.A.L.K.E.R. Любимая серия среди всей вселенной - серия "Холодная кровь" - "Свинцовый дождь". Эта серия рассказывает об интрудере Кальтере и девочке Верданди. Кальтер прибывает в Зону на спецзадание, но происходит так, что встречает девочку Верданди, которую в последствии называет просто Верой. Не ясно, что дало сбой, но Кальтер не убивает вопящую от страха девочку, а позже и вовсе решает ей помочь вернуться домой, поверив в безумную историю про то, что она из будущего, что её родителей убили и она здесь осталась одна. С горем пополам, пожалев к тому моменту, что недооценивал место, куда идёт, Кальтер доводит девочку до Небесного Паука, который, на удивление, подпустил их ближе, чем всех остальных. Дальше, происходит искромётный бой с военными и погибель Небесного Паука, но Вера успевает переместиться домой, а Кальтер чудом выходит живым из этой схватки и рапортует о провале задания и уходе с рабочего места (достаточно легко, на удивление). Вторая часть повествует о том, как Вера выходит на связь с Кальтером через его сны и назначает время и дату встречи. Спойлерить результат не буду:)
            <p>
            Также хороши книги "Дезертир", "Дом на болоте", "Выбор оружия", "Мечта на поражение". Я прочитал много других книг, но эти отпечатались в памяти гораздо сильнее остальных, особенно - "Дезертир", первая книга из этой вселенной, прочитанная мной.
            </p>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item-content_text_title list__items_center">
            Программирование
        </div>
        <img src="{% static 'img/main/assembler-part.jpg' %}" class="list__item-content_img list__item_left">
        <div class="list__item-content_text_normal">
            <p>
                В университете нас обучали таким языкам, как Assembler, C++, Python, на Программировании Мобильных Устройств были изучены инструменты для написания программ на Android и для работы в Java.
            </p>
            Сильнее всего мне запомнился опыт написания программ на ассемблере. Только там я окончательно осознал, как хранится информация, как взаимодействуют части программы. Только там у меня получилось понять, насколько просто сейчас писать программы и насколько мало нынешние "программисты" знают о программировании.
        </div>
        <img src="{% static 'img/main/main-part.jpg' %}" class="list__item-content_img list__item_right">
        <div class="list__item-content_text_normal">
            На данный момент основным языком программирования в моей практике является язык Java. Летом 2015 г. я учавствовал в стажировке 7bits, там как раз меня и научили, как писать на Java плохо, как хорошо, что такое Tomcat, Maven, Spring-Boot. Там же я научился работать с запросами к базам данных(в частности PostgreSQL).
        </div>
    </div>
    <div class="list__item">
        <img src="{% static 'img/main/other.png' %}" class="list__item-content_img list__item_left">
        <div class="list__item-content_text_title list__items_center">
            Другое
        </div>
        <div class="list__item-content_text_normal">
            Также, среди моих увлечение - музыка (игра на гитаре, изучение других инструментов), кино, изучение английского и не только:)
        </div>
    </div>
</div>
{% endblock %}