{% extends 'morning_coat_template.html' %}
{% load staticfiles %}
{% block content %}
<div class="list list__items_center">
    <ul class="list__item list__ul_item" style="counter-reset:list 11;">
        <div class="list__item-content_text_title">
            Здесь предоставлен список студентов моей группы (я ничего другого не придумал^^')
        </div>
        <img class="list__item-content_img" src="{% static 'img/background.jpg' %}">
        <li class="list__item-content_text_normal list__li_item">Ангальд Дмитрий</li>
        <li class="list__item-content_text_normal list__li_item">Асташин Евгений</li>
        <li class="list__item-content_text_normal list__li_item">Белкин Константин</li>
        <li class="list__item-content_text_normal list__li_item">Гилёв Дмитрий</li>
        <li class="list__item-content_text_normal list__li_item">Греков Иван</li>
        <li class="list__item-content_text_normal list__li_item">Гусарова Алёна</li>
        <li class="list__item-content_text_normal list__li_item">Деньговкая Татьяна</li>
        <li class="list__item-content_text_normal list__li_item">Ерофеева Лина</li>
        <li class="list__item-content_text_normal list__li_item">Журавлёв Виктор</li>
        <li class="list__item-content_text_normal list__li_item">Карпов Игорь</li>
        <li class="list__item-content_text_normal list__li_item">Кольянов Андрей</li>
        <li class="list__item-content_text_normal list__li_item">Коржаков Денис</li>
        <li class="list__item-content_text_normal list__li_item">Кочегаров Роман</li>
        <li class="list__item-content_text_normal list__li_item">Митракова Марина</li>
        <li class="list__item-content_text_normal list__li_item">Молодых Антон</li>
        <li class="list__item-content_text_normal list__li_item">Николаев Алексей</li>
        <li class="list__item-content_text_normal list__li_item">Овсянников Алексей</li>
        <li class="list__item-content_text_normal list__li_item">Патошкина Александра</li>
        <li class="list__item-content_text_normal list__li_item">Первишко Денис</li>
        <li class="list__item-content_text_normal list__li_item">Рогозина Дарья</li>
        <li class="list__item-content_text_normal list__li_item">Усиченко Андрей</li>
        <li class="list__item-content_text_normal list__li_item">Федоренко Александра</li>
        <li class="list__item-content_text_normal list__li_item">Ходоркина Софья</li>
        <li class="list__item-content_text_normal list__li_item">Цой Константин</li>
    </ul>
</div>
{% endblock %}