{% extends 'morning_coat_template.html' %}
{% load staticfiles %}
{% block content %}
<div class="list">
    <div class="list__item">
        <img class="list__item-content_img list__item_left" src="{% static 'img/university/logo.jpg' %}">
        <div class="list__item-content_text_normal">
            Само слово «университет» родственно лат. universum, что значит «вселенная». Омский государственный университет им. Ф.М. Достоевского - это не просто высшее учебное заведение, это вселенная широких возможностей. Атмосфера университета насыщена знаниями, ответственностью и доверием. Выпускник университета - это отличный специалист с фундаментальными знаниями и широким кругозором.
        </div>
        <div class="list__item-content_text_normal">
            ОмГУ хранит и преумножает лучшие традиции классического университетского образования: фундаментальность, единство обучения и исследования, баланс между гуманитарными и естественнонаучными знаниями. В наше время, когда до конца не известно, чем именно специалист будет заниматься по окончании вуза - теорией, практикой, управлением или бизнесом, - очень важна фундаментальная база, которая при необходимости позволит выпускнику быстро перестроиться. Реорганизация или упразднение какой-либо отрасли не станет проблемой для нашего выпускника, потому что классическое образование поможет ему реализовать себя в смежных отраслях.
        </div>
        <div class="list__item-content_text_normal">
            В университете создаются и успешно развиваются научные школы по изучению археолого-этнографических комплексов, по алгебре, геометрии и топологии. Ежегодно университет проводит более 10 международ­ных, всероссийских и региональных конференций. Для поддержки перспективных исследований молодых ученых проводится конкурс грантов «Молодым ученым ОмГУ».
        </div>
        <div class="list__item-content_text_normal">
            В целом университет является важным фактором экономического, социального и культурного развития региона, а университетское образование сориентировано на современный рынок труда. Имена многих выпускников ОмГУ известны всей стране: Г.О. Греф, С.Н. Бабурин и др.
        </div>
        <div class="list__item-content_text_normal">
            Научная деятельность университета включает широкий спектр фундаментальных и прикладных исследований в разных областях знаний. Ученые университета ведут научную работу по приоритетным направлениям науки и техники, участвуют в выполнении ряда международных, федеральных и региональных программ, получают гранты Минобрнауки РФ, российских научных фондов- РГНФ и РФФИ, фондов Карнеги, Сороса, Форда и др. Особенно важным стало вхождение в 1997г. университета совместно с омскими институтами СО РАН в Федеральную целевую программу «Интеграция высшего образования и фундаментальной науки», благодаря чему был создан Учебно-научный центр ОмГУ и подразделения СО РАН.
        </div>
    </div>
</div>
{% endblock %}